<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ECP_PROJECT</display-name>
	<servlet>
		<description>
		</description>
		<display-name>DB_Connection</display-name>
		<servlet-name>DB_Connection</servlet-name>
		<servlet-class>connection.utility.DB_Connection</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>module.controllers.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Date_Utility</display-name>
		<servlet-name>Date_Utility</servlet-name>
		<servlet-class>connection.utility.Date_Utility</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login_Service</display-name>
		<servlet-name>Login_Service</servlet-name>
		<servlet-class>module.services.Login_Service</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login_Validate</display-name>
		<servlet-name>Login_Validate</servlet-name>
		<servlet-class>module.validate.Login_Validate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>module.controllers.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Donation_Form</display-name>
		<servlet-name>Donation_Form</servlet-name>
		<servlet-class>module.controllers.Donation_Form</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Request_Form</display-name>
		<servlet-name>Request_Form</servlet-name>
		<servlet-class>module.controllers.Request_Form</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Contact</display-name>
		<servlet-name>Contact</servlet-name>
		<servlet-class>module.controllers.Contact</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>module.controllers.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>module.controllers.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Forget</display-name>
		<servlet-name>Forget</servlet-name>
		<servlet-class>module.controllers.Forget</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckRegister</display-name>
		<servlet-name>CheckRegister</servlet-name>
		<servlet-class>module.controllers.CheckRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Admin</display-name>
		<servlet-name>Admin</servlet-name>
		<servlet-class>module.controllers.Admin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDetails</display-name>
		<servlet-name>UserDetails</servlet-name>
		<servlet-class>module.controllers.UserDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProcess</display-name>
		<servlet-name>UpdateProcess</servlet-name>
		<servlet-class>module.controllers.UpdateProcess</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileUpdate</display-name>
		<servlet-name>ProfileUpdate</servlet-name>
		<servlet-class>module.controllers.ProfileUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMailObject</display-name>
		<servlet-name>SendMailObject</servlet-name>
		<servlet-class>module.controllers.SendMailObject</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FilterDetails</display-name>
		<servlet-name>FilterDetails</servlet-name>
		<servlet-class>module.controllers.FilterDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DB_Connection</servlet-name>
		<url-pattern>/DB_Connection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Date_Utility</servlet-name>
		<url-pattern>/Date_Utility</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login_Service</servlet-name>
		<url-pattern>/Login_Service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login_Validate</servlet-name>
		<url-pattern>/Login_Validate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Donation_Form</servlet-name>
		<url-pattern>/Donation_Form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Request_Form</servlet-name>
		<url-pattern>/Request_Form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/Contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forget</servlet-name>
		<url-pattern>/Forget</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckRegister</servlet-name>
		<url-pattern>/CheckRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDetails</servlet-name>
		<url-pattern>/UserDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProcess</servlet-name>
		<url-pattern>/UpdateProcess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileUpdate</servlet-name>
		<url-pattern>/ProfileUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMailObject</servlet-name>
		<url-pattern>/SendMailObject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterDetails</servlet-name>
		<url-pattern>/FilterDetails</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
